{{!-- --}}
{{!-- --}}
{{!-- --}}
<h1>{{login}}</h1>
<form action="/hotels" method="post" class="container mt-4 col-6">
    <input type="email" placeholder="Email" name="email" class="form-control col-4">
    <input type="password" placeholder="votre mot de pass" name="password" class="form-control col-4 mt-3">

    <button type="submit" class="btn btn-primary float-end mt-3"> Login</button>
</form>